.register-form {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 0px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: filter 0.3s ease;
}

.form.blur {
  filter: blur(10px);

  backdrop-filter: blur(5px);
}

.form-group {
  margin-bottom: 15px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  width: 60%;
  padding: 10px;
  background-color: #f9ed32;
  color: rgb(20, 20, 20);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.email-verify-container {
  display: flex;
  align-items: center;
}

.email-verify-container input[type="email"],
.email-verify-container .verify-button {
  margin: 0;
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  line-height: normal;
}

.verify-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: yellow;
  cursor: pointer;
  margin-left: 10px !important;
}

.verify-button.verified {
  background-color: green;
  color: white;
  cursor: not-allowed;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

.login-link a {
  color: blue;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.verification-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.verification-box p,
.verification-box .input-group,
.verification-box .button-group,
.verification-box .cancel-group {
  z-index: 3;

  color: #fff;
}
